<div id='wrapper'>
	<div id='content' >
	<% if @use_summary.blank? %>
		<h4>There currently are no Docker containers.</h4>
	<% else %>
		<h3>Docker container utiltization</h3>
		<div style="clear:both;">

        <p>&nbsp;</p>
			<table border=1 id="layouttable">
				<tr>
					<th>Application</th>
					<th>Free</th>
					<th>Reserved</th>
					<th>Powered Down</th>
					<th>Total</th>
				</tr>
			<% @use_summary.keys.each do |item| 
				detail = @use_summary[item] %>
				<tr>
					<td><%= detail[:app] %></td>
					<td><%= detail[:free].to_s %></td>
					<td><%= detail[:reserved].to_s %></td>
					<td><%= detail[:powered_down].to_s %></td>
					<td><%= detail[:total_count].to_s %></td>
				</tr>		
			<% end %>
			</table>
		</div>
	<% end %>
	</div>
</div>
