<div id='wrapper'>

	<%= link_to "&larr;Back".html_safe, controller: :reservation, action: :index%>
<h3>Expired VM Owners</h3>

<div style="margin: 20px;">
<% @emails.each do | email |%>
<%= email %>
<br>
<% end %>

</div>


</div>