
<h3>Admin Options</h3>
<ul>
	<li><%= link_to "Manage Admins", admins_path %> </li>
	<li><%= link_to "Manage Containers", dockers_path  %> </li>
	<li><%= link_to "Manage Users", "/user/index" %> </li>
	
	<li><%= link_to "View Activity Log", "/activity_log/index" %> </li>
	<li><%= link_to "View Hourly Activity", "/hourly_activity" %> </li>
	<li><%= link_to "View Container Utilization", "/container_utilization" %> </li>

</ul>
