!!!
%html.no-js(lang="en")
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= respond_to?(:title_str) ? title_str : app_class_name
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = favicon_link_tag 'ssiapp/favicon.ico'
    = stylesheet_link_tag "ssiapp/application", :media => "all", 'data-turbolinks-track' => true
    = stylesheet_link_tag "application", :media => "all", 'data-turbolinks-track' => true
    - unless defined?(use_webpacker) && use_webpacker
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = javascript_include_tag 'ssiapp/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
  %body
    #l-ss-header-container
      %header.l-ss-wrapper.clearfix
        .ss-header-first
          - logo_path = (defined?(logo) ? logo : 'ssiapp/logo.png')
          %a{:href => "/"}
            = image_tag logo_path, alt: 'NCShare logo home'
            %span.ss-header-name= respond_to?(:application_name) ? application_name : app_class_name
          %h1.sr-only  NCShare
        .ss-header-second
          %nav
            - if defined?(secondary_nav_links)
              %ul.ss-menu
                - secondary_nav_links.each do |link|
                  %li.ss-menu-leaf= link
    - if defined? nav_links
      %nav.navbar.navbar-default
        .container-fluid
          %ul.nav.navbar-nav.nav-pills
            - nav_links.each do |link_info|
              %li{:class => "#{link_info[:class]}"}= link_info[:link].html_safe
          - if defined? nav_right
            .navbar-right
              = nav_right
    .l-ss-wrapper.l-ss-main.clearfix
      - if flash[:success]
        .ss-success
          = flash[:success]
      - if flash.notice
        .ss-notice
          = flash.notice
      - if flash.alert
        .ss-error
          = flash.alert
      %main
        %div{:class => "#{params[:controller].gsub('/', '_')}_#{params[:action]}"}
          = yield
    - unless defined?(disable_footer) && disable_footer
      #l-ss-footer-container{:role => "contentinfo"}
        %footer.l-ss-wrapper.clearfix
          .l-ss-logo-social-wrapper
            = image_tag 'ssiapp/footer-logo.png', alt: 'footer-logo'
            %address.ss-address
              © #{Time.current.year}  MCNC <br>
              PO Box 12889  |  3021 East Cornwallis Road  |  RTP, NC 27709-2889 <br>
              919-248-1900 Phone | 919-248-1101 Fax 
          / end - l-logo-social-wrapper
