.col-sm-4
  .panel.panel-default
    .panel-heading
      %h3.panel-title My reservations 
    .panel-body
      %h4 Containers
      - if @current_user
        =render 'containers/detailed_logged_in_reservation'
      
      - else
        =render 'containers/not_logged_in_reservation'
