<h2>Davidson-POL-182-A</h2>
<div id='wrapper'>

<div id='message-area'></div>
  <div class='vm-manage-buttons' id='nav'>
    <div class='btn-group'>
      <a id="Start" class="duke-btn duke-btn-default" role="button" onclick="windowOpen()"><span class='glyphicon glyphicon-off'></span>
        <span class='glyphicon-class'>
        Start
        </span>
      </a>&nbsp
  </div>
</div>
<p><b>Click the start button to launch your session</b>
</p>


<script type="text/javascript">
  var Window;

  function windowOpen() {
    var wnd = window.open("https://<%=@docker_host%>:<%=@docker_port%>/auth/?ngxtndotoken=<%=@docker_guest_pw%>","_blank");
    setTimeout(function() {
      wnd.close();
      var wnd2 = window.location.replace("https://<%=@docker_host%>:<%=@docker_port%>/");
    }, 1000);
    return false;
}
</script>
