<h2>Davidson-VSCode</h2>
<div id='wrapper'>

<p><h3>Davidson-VSCode login referral page</h3><br><b>If your web browser asks if it is OK to submit this form, say yes</b></p>

<script type="text/javascript">
function openVNCwindow() {
  window.location.replace("https://<%=@docker_host%>:<%=@docker_port%>/?ngxtndotoken=<%=@docker_guest_pw%>")
}
</script>

<script type="text/javascript">
window.onload=openVNCwindow()
</script>
