<h2>Pytorch</h2>
<div id='wrapper'>

<p><h3>Pytorch login referral page</h3><br><b>If your web browser asks if it is OK to submit this form, say yes</b></p>

<script type="text/javascript">

function submitRealForm() {
  document.getElementById('password_input').value = "<%=@docker_guest_pw%>";
  document.realform.submit();
}
</script>


<form action="https://<%=@docker_host%>:<%=@docker_port%>/login?next=%2Flab" name="realform" method="POST">
   <input type="hidden" name="password" id="password_input" value="0"/>
</form>

<script type="text/javascript">
window.onload=submitRealForm()
</script>
