<h2>Restart Davidson-VSCode</h2>
<div id='wrapper'>
<p>
If you are having trouble connecting to your Davidson-VSCode environment 
As a last resort, you can restart Davidson-VSCode. </p><p>
<b><i>WARNING: any work you have not saved will be lost during the restart.</i></b></p><p>
To restart Davidson-VSCode <b><%=link_to "click here", @restart_container_path %>
</p>



