<div id='wrapper'>
	<div id='content' >
	<% if @hourly_activity.blank? %>
		<h4>There were no activities in the last 24 hours.</h4>
	<% else %>
		<h3>last 24 hours of Activity/redirects to Docker containers</h3>
		<div style="clear:both;">

        <p>&nbsp;</p>
			<table border=1 id="layouttable">
				<tr>
					<th>Start time</th>
					<th>End time</th>
					<th>Count</th>
				</tr>
			<% @hourly_activity.each do |item| %>
				<tr>
					<td><%= item["start"] %></td>
					<td><%= item["end"] %></td>
					<td><%= item["activity"].to_s %></td>
				</tr>		
			<% end %>
			</table>
		</div>
	<% end %>
	</div>
</div>
