/**
   ______      __    __    __    __   _______
  |      \    |  |  |  |  |  |  /  / |  _____|
  |   __  \   |  |  |  |  |  | /  /  |  |
  |  |  \  \  |  |  |  |  |  |/  /   |  |    __
  |  |  |  |  |  |  |  |  |     \    |  ___|
  |  |__/  |  |  |  |  |  |  |\  \   |  |
  |       /   \  \__|  /  |  | \  \  |  |____
  |______/     \______/   |__|  \__\ |_______|

   OIT SHARED SERVICES CONTENT THEME
	*/
/**
	* Styles for content area
	*/
/* headers mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm headers */

/* status messages mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm status messages */
.ss-error, .ss-warning, .ss-notice, .ss-success {
  margin: 1.5em;
  padding: 0.666em; }

.ss-error {
  border: 1px solid red;
  background: #fee; }

.ss-warning {
  border: 1px solid #ff0;
  background: #ffe; }

.ss-notice {
  border: 1px solid #00f;
  background: #eef; }

.ss-success {
  border: 1px solid #0f0;
  background: #efe; }
