/**
   ______      __    __    __    __   _______
  |      \    |  |  |  |  |  |  /  / |  _____|
  |   __  \   |  |  |  |  |  | /  /  |  |
  |  |  \  \  |  |  |  |  |  |/  /   |  |    __
  |  |  |  |  |  |  |  |  |     \    |  ___|
  |  |__/  |  |  |  |  |  |  |\  \   |  |
  |       /   \  \__|  /  |  | \  \  |  |____
  |______/     \______/   |__|  \__\ |_______|

   OIT SHARED SERVICES CONTENT THEME
	*/
/**
	* Styles for header and footer
	*/
.l-ss-wrapper {
  margin: 0 5%;
  width: 90%; }

.ss-menu {
  margin: 0px;
  padding: 0px; }
  .ss-menu .ss-menu-leaf {
    display: inline-block; }

/**
 * HEADER START mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm HEADER START
 */
#l-ss-header-container {
  padding: 2% 0;
  background: -webkit-gradient(radial, 70% 40%, 0, 70% 40%, 100, from(#9b51e0), to(#320064));
  background: -webkit-radial-gradient(70% 40%, closest-corner, #9b51e0, #320064);
  background: -moz-radial-gradient(70% 40%, closest-corner, #9b51e0, #320064);
  background: -ms-radial-gradient(70% 40%, closest-corner, #9b51e0, #320064);
  background-color: #9b51e0;
  background-position: 70% 40%;
  background-repeat: no-repeat; }
  #l-ss-header-container .ss-header-first,
  #l-ss-header-container .ss-header-second {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    text-align: center; }
  #l-ss-header-container .ss-header-first {
    /* text-align: left; */ }
    #l-ss-header-container .ss-header-first h1 {
      text-indent: -4000px; }
    #l-ss-header-container .ss-header-first img {
      margin: 3% 0;
      max-width: 159px;
      width: 100%;
      height: auto; }
  #l-ss-header-container .ss-header-second {
    padding: 0;
    /* utitity menu nav */ }
    #l-ss-header-container .ss-header-second a {
      margin-left: 5px;
      border-bottom: 1px dashed #fff;
      color: #fff;
      text-decoration: none; }
    #l-ss-header-container .ss-header-second a:hover {
      border-bottom-style: solid; }

@media only screen and (min-width: 500px) {
  #l-ss-header-container .ss-header-first,
  #l-ss-header-container .ss-header-second {
    display: block;
    float: left;
    clear: none;
    text-align: left; }
  #l-ss-header-container .ss-header-first {
    width: 40%; }
  #l-ss-header-container .ss-header-second {
    width: 59%;
    text-align: right; }
  #l-ss-header-container .ss-header-second {
    /* utitlity menu nav */ }
    #l-ss-header-container .ss-header-second .ss-menu {
      text-align: right; }
    #l-ss-header-container .ss-header-second .ss-menu-leaf {
      margin: 5% 0; } }
/* end media query */
/**
 * FOOTER START mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm FOOTER START
 */
#l-ss-footer-container {
  background: #262626;
  color: #818286;
  font-size: 14px;
  /* Persistent Social links in the footer */ }
  #l-ss-footer-container a {
    color: #818286;
    text-transform: uppercase; }
  #l-ss-footer-container footer {
    padding: 20px 0; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu {
    display: block;
    float: left;
    clear: none;
    margin: 1%;
    padding: 0;
    padding: 0 2%;
    width: 43%; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu-leaf {
    padding: 0.33333rem; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu-leaf a {
      color: #818286;
      text-decoration: none; }
      #l-ss-footer-container .l-ss-menu-footer .ss-menu-leaf a:hover {
        border-bottom: 1px dashed #fff;
        color: #fff; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(1),
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(3) {
    border-right: 1px solid #000;
    text-align: right; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(2),
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(4) {
    border-left: 1px solid #000;
    text-align: left; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(2),
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(4) {
    clear: right; }
  #l-ss-footer-container .l-ss-logo-social-wrapper {
    position: relative;
    display: block;
    clear: both;
    margin: 0 auto;
    width: 258px;
    text-align: center; }
  #l-ss-footer-container .ss-address {
    padding: 12px 0 2rem 0;
    text-align: center;
    font-style: normal;
    font-size: 11px; }

@media only screen and (min-width: 768px) {
  #l-ss-footer-container .ss-logo-social-wrapper,
  #l-ss-footer-container .ss-address {
    position: relative;
    left: 33%;
    display: block;
    float: none;
    clear: none;
    margin: 0;
    width: 33%; }
  #l-ss-footer-container .ss-address {
    left: 0;
    width: 100%; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu {
    position: absolute;
    display: block;
    clear: none;
    width: 11%;
    border: 0; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(1), #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(2) {
      border: 0;
      border-right: 1px solid #000;
      text-align: right; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(3), #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(4) {
      border: 0;
      border-left: 1px solid #000;
      text-align: left; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(1) {
      left: 0; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(2) {
      left: 16.5%; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(3) {
      left: 66%; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(4) {
      left: 82.5%; } }
/* end media query 768  */
