<!DOCTYPE html>
<html>
<head>
  <title>NCShare Container Manager</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag "style", :media => "all" %>
	
	<%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="home page page-id-4 page-template-default single-author">
<div id="page" class="hfeed">

<header id="branding" role="banner">
	<div id="logo">
		 <p><a href="https://ncshare.org/" tabindex="1" accesskey="1"><img src="/assets/struct/logo.png" width="159" height="75" alt="NCShare" /></a></p>
     <h1><a href="/" rel="home" tabindex="2" accesskey="2">NCShare Container Manager</a></h1>
	<ul id="mmenu">
	  <li <% if params[:controller] == "home" and !(params[:action]=='too_many_vms') %>class="active"<% end %> >
			<a href='/'>Home	</a>
		</li>
		<% if session[:is_admin] %>
	  <li <% if params[:controller] == "admin"  %>class="active"<% end %> >
			<a href='/administration/index'>Admin	</a>
		</li>
		<% end %>
	  <li <% if params[:controller] == "containers" %>class="active"<% end %> >
			<a href='/containers'>Docker</a>
		</li>
		<li class='logout'>
			<a href='/home/logout'>Logout</a>
		</li>
			
	</ul>	
</div>
</header><!-- #branding -->

<%= yield :meat %>

</div>
<div id="subFooter">
    <a href="https://ncshare.org/" id="subFootLogo">NCShare</a>
    <p>&copy; 2022 MCNC</p>    
</div>

</body>
</html>
